.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 0.7rem;
    padding: 0 0.2rem;
    background-color: #F2F2F2;
}
.top img{
    width: 0.28rem;
    height: 0.28rem;
}
.top span{
    font-size: 0.24rem;
}
.content{
    display: flex;
    height: 10rem;
}
.content .nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21%;
    overflow-y: auto;
   
}
.content .nav a{
    display: block;
    font-size: 0.2rem;
    line-height: 0.6rem;
    color:#3C3C3C;
}
::-webkit-scrollbar{
    display: none;
}

.goods{
    width: 79%;
    padding:0 0.28rem 0 0.28rem;
}
.goods .goods-top{
    width: 100%;
}
.goods .goods-top img{
    width: 100%;
}
.phone{
    display: flex;
    width: 100%;
    height: 0.6rem;
    
}
.phone .item{
    flex:1;
    height: 0.6rem;
}
.phone .item:nth-child(2){
    display: flex;
    justify-content:center;
    align-items:flex-end;
}
.phone .item:nth-child(2) span{
    font-size: 0.25rem;
}
.goods .phones ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.goods .phones li{
    width: 30%;


}
.goods.phones a{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.goods .phones a img{
    width: 1.2rem;
    height: 1.2rem;
}
.goods .phones a span{
    font-size: 0.15rem;
}

.ai ul{
    display:flex;
    flex-wrap: wrap;
}
.ai ul li{
    width: 30%;
}
.ai ul li img{
    width: 1.2rem;
    height: 1.2rem;
}
.bottom-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0.8rem;
    background-color: #fff;
}
.bottom-nav ul{
    display:flex;
    padding:0 0.5rem;
    justify-content: space-between;

}
.bottom-nav ul a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-nav ul a img{
    width: 0.4rem;
    height: 0.4rem;
}
.bottom-nav ul a span{
    font-size: 0.2rem;
    color:#ADADAD;
}
.bottom-nav ul a .fl{
    color:#FF6422;
}